body {
  margin: 0px;
  padding: 0px;
}

.navigation {
  display: inline-block;
  width: 100%;
  height: 10%;
}

.navigationsMenu ul,
li,
a {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}

.navigation a {
  text-decoration: none;
  color: rgb(36, 33, 33);
}

.navigation a:hover {
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #28282b;
  border-radius: 6%;
  color: rgb(43, 40, 40);

  transition-duration: 0.5s;
  background-color: rgb(198, 186, 186);
}

.content h1,
h2 {
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.navigation li {
  float: left;
  margin-left: 3%;
  left: 40%;
  position: relative;
  margin-top: 1%;
}

.navigation h1 {
  font-size: 25px;
  margin-left: 10%;
  margin-top: 1.5%;
  float: left;
}

.content {
  text-align: center;
  margin-top: 3%;
}

.content img {
  top: -50%;
  border-radius: 100%;
  width: 15%;
  height: 40%;
  box-shadow: 3px black;
}

.content h1 {
  font-size: larger;
}

.content h2 {
  font-family: "Mulish", sans-serif;
  box-shadow: 10px 0px;
}

.content p {
  padding: 0% 20%;
  font-family: "Mulish", sans-serif;
}

.project {
  padding-top: 5%;
}

.project h1,
h3 {
  text-align: center;
}

.carousel {
  width: 65%;
  margin-left: 20%;
}

.about{
margin-left: 35%;
margin-top: 2%;
box-shadow: 2px solid black;
}

.about h5 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.contact h1 {
  padding-top: 2%;
  text-align: center;
}

.contact img {
  width: 80%;
  height: 5%;
}

.contact img:hover{
    cursor: pointer;
    width: 90%;
    height: 7%;
    transition-duration: 0.5s;
    
}

.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Agar ikon di tengah */
}

.contact li {
  display: inline-block;
  margin-right: 5px; /* Mengurangi jarak antar ikon */
}

.contact li:last-child {
  margin-right: 0;
}

.blog {
  margin-top: 25%;
  text-align: center;
}

.blog h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
